h1{
  font-size: 2rem;
    line-height: 2.25rem;
}

.n-menu-item-content-header{
  font-size: 1rem;
  font-family: "Segoe UI", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

.n-card-header__main{
  font-size: 1.5rem;
}

.n-menu.n-menu--horizontal {
    display: flex;
    flex-wrap: wrap;
}

.menu{

    flex-wrap: wrap;
}
/**{*/
/*  background: #eff6ef;*/
/*}*/