h1{
  font-size: 2rem;
    line-height: 2.25rem;
}

.n-menu-item-content-header{
  font-size: 1rem;
  font-family: "Segoe UI", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

.n-card-header__main{
  font-size: 1.5rem;
}

.n-menu.n-menu--horizontal {
    display: flex;
    flex-wrap: wrap;
}

.menu{

    flex-wrap: wrap;
}
/**{*/
/*  background: #eff6ef;*/
/*}*/


 .n-card-header__main, .n-collapse-item__header-main {
   color: #00629B!important;
     font-family: fantasy
}

/*
.project-list .n-card__content{
    max-width: 25rem;
}*/


@media all and (max-width: 875px) {
    .n-list.n-list--show-divider.n-list--hoverable.n-list--clickable{
    max-width: 25rem;
}
}

